<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav (Mobile View) -->
  <mat-sidenav #drawer mode="over" class="sidenav" [opened]="false" (closedStart)="isMenuOpen = false">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
         <mat-icon matListIcon>info</mat-icon> About
      </a>
      <a mat-list-item routerLink="/events" routerLinkActive="active">
        <mat-icon>event</mat-icon> Events
      </a>
      <a mat-list-item routerLink="/donations" routerLinkActive="active">Donations</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">
        <mat-icon>contact_mail</mat-icon> Contact
      </a>
      <a mat-list-item *ngIf="!isLoggedIn" routerLink="/login">Login</a>
      <a mat-list-item *ngIf="isLoggedIn" routerLink="/attendance">Attendance</a>
      <a mat-list-item *ngIf="isLoggedIn" routerLink="/foodmenu">
        <mat-icon>restaurant_menu</mat-icon> Food Item
      </a>
      <a mat-list-item class="logout-link" *ngIf="isLoggedIn" (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Sidenav Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button (click)="drawer.toggle()" class="mobile-toggle">
        <mat-icon>menu</mat-icon>
      </button>

      <a routerLink="/" class="logo-text">Jalaram Padyatra</a>
      <span class="spacer"></span>

      <!-- Desktop Menu -->
      <nav class="desktop-menu">
        <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>home</mat-icon> Home
        </a>
        <a mat-button routerLink="/about">
          <mat-icon>info</mat-icon> About  
        </a>
        <a mat-button routerLink="/events">
          <mat-icon>event</mat-icon> Events
        </a>
        <a mat-button routerLink="/donations">
          <mat-icon>volunteer_activism</mat-icon> Donations
        </a>
        <a mat-button routerLink="/contact">
          <mat-icon>mail</mat-icon> Contact
        </a>
        <a mat-button *ngIf="!isLoggedIn" routerLink="/login">
          <mat-icon>login</mat-icon> Login
        </a>
        
        <!-- User Menu -->
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item *ngIf="isLoggedIn" routerLink="/attendance">
            <mat-icon>how_to_reg</mat-icon> Attendance
          </button>
          <button mat-menu-item *ngIf="isLoggedIn" routerLink="/foodmenu">
            <mat-icon>restaurant</mat-icon> Food Item
          </button>
          <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
            <mat-icon>logout</mat-icon> Logout
          </button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button" *ngIf="isLoggedIn">
          <img src="../../assets/images/Logo.jpg" alt="User Avatar" class="avatar-img" />
          <span>Welcome, User</span>
          <mat-icon class="dropdown-icon">expand_more</mat-icon>
        </button>
      </nav>
    </mat-toolbar>

    <!-- Page content goes here -->
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
