<div class="loading-overlay" *ngIf="isLoading">
  <div class="pady-loader">

    <!-- Medallion: a pilgrim dot orbiting the route ring around "Jai Jalaram" -->
    <div class="medallion">
      <span class="orbit-ring"></span>
      <span class="orbit-dot"></span>
      <span class="jai">જય<br />જલારામ</span>
    </div>

    <!-- Walking footsteps along the path -->
    <div class="footsteps">
      <span class="foot left"></span>
      <span class="foot right"></span>
      <span class="foot left"></span>
      <span class="foot right"></span>
      <span class="foot left"></span>
    </div>

    <div class="loader-text">સુદામાપુરી થી વિરપુરધામ પદયાત્રા</div>
  </div>
</div>
