<div class="loading-overlay" *ngIf="isLoading">
  <div class="hybrid-loader">

    <!-- Walking footsteps -->
    <div class="footsteps">
      <div class="foot left"></div>
      <div class="foot right"></div>
      <div class="foot left"></div>
      <div class="foot right"></div>
    </div>

    <!-- Rotating Jalaram Topi -->
    <!-- <div class="cap-ring">
      <div class="ring"></div>
      <img src="../../assets/images/Logo_old.jpg" class="cap" />
    </div> -->

    <div class="loader-text">પોરબંદર થી વિરપુર યાત્રા ચાલી રહી છે…</div>
  </div>
</div>
