button {
  background-color: #ffb84d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #e6953b;
  transform: scale(1.05); /* Subtle scaling effect */
}

nav ul li {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li:hover {
  background-color: #e6953b;
  color: #fff;
}

/* styles.css or styles.scss */
.snackbar-success .mdc-snackbar__surface {
  background-color: #4caf50 !important;
  color: white !important;
}

.snackbar-error .mdc-snackbar__surface{
  background-color: #f44336 !important;
  color: white !important;
}

.snackbar-warning .mdc-snackbar__surface{
  background-color: #ff9800 !important;
  color: white !important;
}

.snackbar-info .mdc-snackbar__surface{
  background-color: #2196f3 !important;
  color: white !important;
}

